player-connection-mode=Listen
player-connection-guid=787854805
player-connection-debug=1
player-connection-project-name=Mirror
player-connection-ip=192.168.31.149
player-connection-ip=26.84.98.203
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=00dbe906d71a4899b7b6950f65a5ae7e
